header {
  background: #5609b3;
}

.logo {
  width: 250px;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.main-nav li a {
  padding: 1rem;
  color: #fff;
}

.d-flex {
  display: flex;
}

.wishlist {
  position: relative;
}

.wishlist__star {
  width: 40px;
}

.wishlist__count {
  position: absolute;
  font-size: 22px;
  top: 4px;
  left: 15px;
}

.wishlist__list {
  display: none;
  background: #fff;
  position: absolute;
  width: 300px;
  top: -5px;
}

.wishlist:hover .wishlist__list {
  display: block;
}
